.chatFrame {
  flex: 3;
  max-width: 75%;
  .header {
    padding: 5px;
    height: 60px;
    display: flex;
    .headerAvatar {
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: center;
      img {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        object-fit: cover;
        object-position: center center;
      }
    }
    .headerName {
      display: flex;
      flex-direction: column;
      flex : 12;
      justify-content: space-between;
      span:first-child {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 21px;
        line-height: 20px;
        color: #011627;
      }
    }
    .headerIcon {
      flex: 2;
      display: flex;
      .icon {
        font-size: 24px;
        color: gray;
      }
      align-items: center;
      justify-content: space-around;
    }
  }
  .content {
    background: url('/src/assets/images/bg-chat.jpg') no-repeat;
    height: calc(100vh - 60px); 
    position: relative;
    .chatHistory {
      height: 85%;    
      padding: 0 10%;
      padding-top: 30px;
      padding-bottom: 10px;
      display: flex;
      flex-direction: column-reverse;
      overflow: auto;
      .scrollContainer {
        display: flex;
        flex-direction: column-reverse;
        gap: 16px;
        overflow: hidden !important;
      }
    }
    .chatInput {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px;
      background-color: white;
      border-radius: 20px;
      position: absolute;
      bottom: 20px;
      margin: 0 auto;
      width: 80%;
      width: 80%;
      left: 50%;
      box-sizing: border-box;
      transform: translateX(-50%);
      .emoji {
        font-size: 24px;
        color: burlywood;
      }
      :global {
        .ant-input {
          padding: 10px;
          width: 100%;
          border: none;
          outline: none;
          &:focus {
            box-shadow: none;
          }
        }
      }
    }
  }
}