.conversation {
  flex: 1;
  max-width: 25%;
  padding: 10px;
  .header {
    height: 60px;
    display: flex;
    align-items: center;
    .menu {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .search {
      position: relative;
      flex: 6;
      :global {
        .ant-input-affix-wrapper {
          padding: 10px;
          border-radius: 10px;
          background-color:#EEEEEE;
        }
      }
      .searchIcon {
        font-size: 24px;
      }
      input {
        background-color: inherit;
      }
    }
  }
  .list {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
}