.conversationItem {
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 6px;
  column-gap: 10px;
  &:hover, &.select {
    background-color: #eaf3ff;
    cursor: pointer;
  }
  .avatar {
    text-align: center;
    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;
      object-position: center center;
    }
  }
  .user {
    flex: 1;
    display: flex;
    flex-direction: column;
    .userName {
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      color: #011627;
      margin-bottom: 0;
    }
    .lastMessage {
      display: flex;
      justify-content: space-between;
      span {
        font-size: 14px;
      }
    }
  }
}