.chatDetailItem {
  text-align: left;
  .inner {
    max-width: 500px;
    padding: 4px 12px;
    display: inline-block;
    border-radius: 12px;
    background-color: antiquewhite;
    .content {
      width: 100%;
      word-break: break-all;
    }
  }
  &.sender {
    text-align: right;
    .inner {
      background-color: #78E378;
    }
  }
}